/* general styling */
html {
  margin-top: 2em;
  background-color:#fff;
  padding: 0;
}

body {
  font-family:'Roboto', sans-serif;
  font-size:16px;
  color:#000;
  background-color:#fff;
  /* margin:2em auto; */
  /* padding:2em; */
}

ul {
  list-style:none;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
}

#about {
  line-height: 140%;
}

#research ul, #resources ul {
  /* padding: 0 0 0 1.2em; */
  /* list-style-type:disc; */
  padding: 0 0 0 0;
  list-style-type:none;
}

#research ul li, #resources ul li {
  margin:0;
  font-size:0.95em;
  line-height: 140%;
}

#research ul li {
  text-align: left;
}

#research ul li:last-child, #resources ul li:last-child {
  margin-bottom:2em;
}

#content a {
  /* color:rgb(115, 6, 183); */
  /* color: rgb(52, 134, 190); */
  color: #3284BF;
  /* border-bottom:1px dotted; */
  border-bottom: none;
  text-decoration:none;
}
#content a:hover {
  border-bottom:2px solid;
}
#content a:active {
  color: #FFE800;
}

/* corner icons */
#emtext {
  display: none;
  font-size:0.75em;
  font-family:sans-serif;
  font-style:normal;
}
span.iconbox {
  float: right;
}
#content a.icon {
  border-bottom:none;
}
span.iconbox a:hover {
  border-bottom:none;
}
#emicon {
  height: 20px;
}
#cvicon {
  height: 36px;
}
#giticon {
  height: 36px;
}

/* spotlight circles thanks to Liz: lizwong.com :) */
#nav {
  position: relative;
  /* position: fixed; */
  /* z-index: 1; */
  /* text-align: center; */
}

/* #nav-dup { */
/*   position: relative */
/*   visibility: hidden; */
/* } */
/*  */
.nav-button {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 3px solid #000;
  /* border-color: #3284BF; */
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  /* margin:0.5em; */
}

.nav-button:hover{
  border:3px solid rgba(0,0,0, 0.25);
}

.nav-button a {
  text-decoration: none;
  line-height: 60px;
  position: relative;
  font-size: 10px;
  color: #000;
  /* color: #3284BF; */
  display: block;
  width: 100%;
  height: 100%;
}

iframe {
  margin-left: -20%;
  width: 120%;
}

@media (min-device-width : 375px) {
  .nav-button {
    height: 70px;
    width: 70px;
    border-width: 4px;
  }
  .nav-button:hover {
    border-width: 4px;
  }
  .nav-button a {
    line-height: 70px;
    font-size: 12px;
  }
}

@media (min-device-width: 412px) {
  .nav-button {
    height: 75px;
    width: 75px;
  }
  .nav-button a {
    line-height: 75px;
  }
}

@media (min-width: 550px) {
  iframe {
    margin-left: -10%;
    width: 110%;
  }
  /* #nav-dup { */
  /*   display: none; */
  /* } */
  #nav {
    text-align: center;
  }
  .nav-button {
    height: 125px;
    width: 125px;
    margin: 0.5em;
  }
  .nav-button a {
    line-height: 125px;
    font-size: 18px;
  }
  /* #content { */
  /*   margin-left: 34.6666667% */
  /* } */
}

.about:hover {
  background-image:url(../images/me.png);
  background-repeat:no-repeat;
  background-position:bottom;
}

.research:hover {
  background-image:url(../images/hand-math.png);
}

.resources:hover {
  background-image:url(../images/code-light2.png);
}

.misc:hover {
  background-image:url(../images/lobster2.png);
  background-repeat:no-repeat;
  background-position:center;
}

span.pubtitle {
  font-weight: bold;
}

/* a > span.pubtitle { */
/*   font-weight: normal; */
/* } */

/* LAYOUT */

/* for smooth scroll transition effect */
.pane {
  width:25%;
  /* height:36em; */
  float:left;
  position:relative;
  overflow:auto;
}

#content {
  text-align:justify;
  /* width:40em; */
  /* height:36em; */
  position:relative;
  overflow:hidden;
}

#panewrapper {
  width:400%;
  /* height:36em; */
  position:relative;
  overflow:hidden;
}


/* body { */
/*   min-height:40em; */
/*   width:40em; */
/*   margin:2em auto; */
/*   padding:2em; */
/* } */


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


